$black: #6c757d;
$primary: #0275d8;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$grey: #dee2e6;

$spacing: 1em;
$spacingDouble: $spacing * 2;
$spacingTriple: $spacing * 3;
$spacingHalf: $spacing * .5;

h1{
  color: $info;
}

.card{
  margin-bottom: $spacing;
  margin-top: $spacing;
}

label{
  text-align: right;
}